
body {
    background-image: linear-gradient(lightblue, lightgreen);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 70vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

kbd {
    border: 1px solid gray;
    font-family: monospace;
    background-color: #fff;
    width: 10vw;
    height: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.black-keys {
    width: 60vh;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 1;
}

.black-keys kbd {
    background-color: black;
    color: white;
    height: 35vh;
    width: 7vw;
    z-index: 1;
}

kbd.hidden {
    visibility: hidden;
}